{% extends 'LasynsecFrontBundle::layout.html.twig' %}

{% block content %}
<div class="container">
	<h2>Timeline</h2>

	<table class="statuses_list">
		<thead>
			<tr>
				<th>User</th>
				<th>Content</th>
				<th>Deleted</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			{% for status in statuses %}
				<tr>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
					<td>{% if status.user %}
							{{ status.user.username }}
						{% endif %}
					</td>
=======
					<td>{{ status.user.username }}</td>
>>>>>>> origin/master
=======
					<td>{{ status.user.username }}</td>
>>>>>>> e53cc39d2fbdba92bfb8bc4feee7127b915827e3
=======
					<td>{{ status.user.username }}</td>
>>>>>>> e53cc39d2fbdba92bfb8bc4feee7127b915827e3
					<td>{{ status.content }}</td>
					<td>{{ status.deleted ? "supprimé" : "visible" }}</td>
					<td>{% if status.createdAt %}
							{{ status.createdAt | date('Y-m-d H:i:s')}}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}